[submodule "boards/snickerdoodle_black"]
	path = boards/snickerdoodle_black
	url = https://github.com/LincolnCB/snickerdoodle_black.git
[submodule "boards/sdrlab_122_16"]
	path = boards/sdrlab_122_16
	url = https://github.com/LincolnCB/sdrlab_122_16.git
[submodule "boards/stemlab_125_14"]
	path = boards/stemlab_125_14
	url = https://github.com/LincolnCB/stemlab_125_14.git
[submodule "boards/zybo_z7_10"]
	path = boards/zybo_z7_10
	url = https://github.com/LincolnCB/zybo_z7_10.git
[submodule "kernel_modules/u-dma-buf"]
	path = kernel_modules/u-dma-buf
	url = https://github.com/LincolnCB/u-dma-buf.git
[submodule "projects/rev_d_shim"]
	path = projects/rev_d_shim
	url = https://github.com/LincolnCB/rev_d_shim.git
